.sidenav-container {
  height: 100%;
  background-color: #E8EEF066;
}

.sidenav {
  width: 300px;
  background-color: #6261B4;
}

.sidenav .mat-toolbar {
  background: inherit;
  justify-content: center;
  background-color: #5554AA;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-mdc-nav-list .mat-mdc-list-item {
  top: 70px;
  left: 16px;
  gap: 8px;
  opacity: 0px;
}

.mat-drawer {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

