.content-div {
    margin: 70px 16px 16px 30px;
}

.page-header {
    font-size: 24px;
    margin: 0;
}

.page-subheader {
    font-size: 18px;
    margin: 0 0 30px 0;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.flex.space-around .mdc-card {
    border: none;
    border-radius: 8px;
    width: 20%;
}

.mdc-card {
    border: none;
    width: 95%;
}

.mat-mdc-card-content {
    margin-bottom: 16px;
}

.card-content {
    margin: 25px 30px 40px 30px;
}

.card-title {
    font-size: 34px;
    font-weight: 800;
    margin: 0;
    width: min-content;
}

.card-subtitle {
    font-size: 18px;
    font-weight: 800;
    margin: 0;
}

.card-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 72px;
    border-radius: 10px;
}

.card-icon-box.to-do {
    background-color: #B5E4FF4D;
}

.card-icon-box.doing {
    background-color: #B880EF33;
}

.card-icon-box.done {
    background-color: #B5FFE04D;
}

.grid {
    display: grid;
}

.card-columns {
    grid-template-columns: repeat(3,1fr);
}

.card-content.grid {
    grid-template-columns: repeat(2,1fr);
}

.task-subtitle {
    font-size: 12px;
    padding: 0;
    margin-bottom: 0;
    height: min-content;
    position: relative;
    right: 23px;
    bottom: -10px;
}

.mat-badge-content.mat-badge-active {
    background-color: #FF1414;
    position: relative;
    top: -25px;
    left: 0px;
    height: 10px;
    width: 10px;
}