<div class="content-div">

    <div class="flex justify-between">
        <div class="">
            <h1 class="page-header">Olá, fulano</h1>
            <p class="page-subheader">Seja bem-vindo ao seu gestor de tarefas!</p>
        </div>
        
        <button mat-flat-button class="new-task-btn">
            <mat-icon aria-hidden="false" aria-label="Add box icon" class="material-symbols-rounded">add_box</mat-icon>
            Nova Tarefa
        </button>
    </div>

    
    <div class="flex space-around">
        <mat-card appearance="outlined">
            <mat-card-content class="flex">
                <div class="card-content">
                    <p class="card-title">4</p>
                    <p class="card-subtitle">to do</p>
                </div>
                
            </mat-card-content>
        </mat-card>

        <mat-card appearance="outlined">
            <mat-card-content>Simple card</mat-card-content>
        </mat-card>

        <mat-card appearance="outlined">
            <mat-card-content>Simple card</mat-card-content>
        </mat-card>
    </div>

    <div class="">
        <h3 class=""># Tarefas concluídas por dia</h3>
        <mat-card appearance="outlined">
            <mat-card-content>
                <app-task-chart></app-task-chart>
            </mat-card-content>
        </mat-card>
    </div>
</div>